
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
  outline: none;
  background-color: #FAFAFA;
}



.menu{
	background-color: #C6DDE3;
	box-shadow: 0px 2px 4px rgba(142, 142, 142, 0.25);
	padding: 20px;
	display: flex;
	align-items: center;
}

.img-burguer{
	width: 30px;
	height: auto;
	background-color: #C6DDE3;
	box-shadow: none;
}

.img-nakima-icon{
	width: 40%;
	height: auto;
	box-shadow: none;
	margin:auto;
}



.breadcrumps{
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px  rgba(216, 216, 216, 0.25);
  padding: 15px;
  
}
.breadcrumps a {
  text-decoration: none;
  background-color: #FFFFFF;
  box-shadow: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  
}

.breadcrumps span{
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
  margin: 0 10px;
}

.breadcrumps :last-child{
  color: #C6DDE3
}

@media (min-width: 730px){

  .breadcrumps{
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 25px;
  }
  .breadcrupms :first-child{
    margin-left: 50px;
  }

  .breadcrumps a {
    font-size: 14px;
  }
  
  .breadcrumps span{
    font-size: 14px;
  }
  
}



.section-pregunta{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cont-pregunta{
  width: 80%;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(84, 84, 84, 0.25);
  border: 1px solid #F4F4F4;
}
.cont-pregunta span {
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', light;
  font-size: 11px;
}
.cont-pregunta div h3{
  font-family: 'Roboto', Medium;
  font-size: 13px;
}
.usuario-nakima-pregunta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  
  font-size: 13px;
}

.cont-pregunta div p {
  font-family: 'Roboto','Regular';
  font-size: 13px;

}

.img-perfil{
  width: 20px;
  height: 20px;
  margin: 4px;
  margin-right: 10px;
  border-radius: 200px;
  justify-content: flex-start;

}
.usuario-nakima-pregunta p{
  font-family: 'Roboto', light;
  font-style: italic;
}

.info-pregunta{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  padding: 5px;
  margin-top: 20px;
  font-family: 'Roboto','Regular';
  font-size: 11px;
}


.info-pregunta div{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.info-pregunta div img {
  width: 15px;
  height: 13px;
  margin-right: 4px;
}
.info-pregunta div span{
  font-family: 'Roboto','Regular';
  font-size: 11px;
}

.pages-pregunta{
  color: #C6DDE3;
  font-family: 'Roboto','Regular';
  font-size: 15px;
}

.numero-respuestas{
  font-family: 'Roboto','Regular';
  font-size: 12px;
  margin: 20px;
  margin-left: 30px;
}

.numero-respuestas img {
  width: 15px;
  height: 13px;
}


@media (min-width: 730px ) {
  .cont-pregunta{
    width: 45%;
    
  }
  .cont-pregunta span {
    font-size: 16px;
  }
  .cont-pregunta div h3{
    font-size: 20px;
  }
  .usuario-nakima-pregunta {
    font-size: 16px;
    margin: 15px 0;
  }
  .cont-pregunta div p {
    font-size: 17px;
    width: 90%;
  }
  .info-pregunta{
    margin-top: 30px;
    font-size: 12px;
    border-top: 0.5px solid black; 
    padding-top: 20px;
  }
    .info-pregunta div span{
    font-size: 12px;
  }
  .pages-pregunta{
    font-size: 20px;
  }
  .numero-pages img {
    margin-left: 0px;
  }
}

.add-respuesta {
  display: flex;
  justify-content: center;
  
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.add-respuesta img {
  width: 15px;
  height: 13px;
}
.add-respuesta span {
  font-family: 'Roboto','Regular';
  font-size: 15px;
  color: rgb(196, 235, 245);
}
.section.main{
  z-index: 0;
  
}
#ventana-comentario {
  z-index: 100000;
  width: 90%;
  
  border:  1px solid #F4F4F4;
  position: absolute;
  left: 5%;
  background-color:#FFFFFF;
}
#ventana-comentario div {
  display: flex;
  justify-content: flex-end;
  font-family: ' Roboto', Italic, 14;
  background-color: #FFFFFF;
  margin-top: 20px;
}
#ventana-comentario div button {
  background-color: #FFFFFF;
}

#ventana-comentario input {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 30vh;
  margin-top: 15px;
  border: 1px solid #D1D1D1;
  margin-bottom: 70px;
  text-align: initial;
  
}

.button-add-comment {
  width: max-content;
  position: absolute;
  right: 4%;
  bottom: 3%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid #A7BEC5;
  padding: 5px;
  font-family:  'Roboto', Medium, 13, #A7BEC5;
}

.button-add-comment button{
 color: #A7BEC5; 
 margin-right: 5px;
}



.section-respuesta {
  border-bottom: 1px solid rgb(209, 208, 208);
  box-shadow: 0px 4px 6px rgba(186, 186, 186, 0.25);
}

.container-respuesta{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  margin-top: 15px;
}

.usuario-nakima-respuesta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  font-size: 13px;
}

.usuario-nakima-respuesta p {
  font-family: 'Roboto','Regular';
  font-size: 15px;
  font-weight: bold;
}

.container-respuesta p {
  font-family: 'Roboto','Light';
  font-size: 13px;
}

.info-respuesta{
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
.info-respuesta div {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-respuesta img {
  width: 15px;
  height: 13px;
  margin-right: 4px;
}

@media (min-width: 730px ) {
  .add-respuesta {
    padding:15px;
    width: 45%;
    margin: 0 auto;
    border: 1px solid #F4F4F4;
  }
  
  .add-respuesta span {
    font-size: 20px;
    color: rgb(196, 235, 245);
  }
  
  .section-respuesta {
    padding:15px;
    width: 45%;
    margin: 0 auto;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 2px 6px rgba(186, 186, 186, 0.25);
  }
  .container-respuesta{
    width: 90%;
  }
  
  .usuario-nakima-respuesta p {
    font-size: 20px;
  }
  
  .container-respuesta p {
    font-size: 17px;
  }
  #ventana-comentario {
    z-index: 100000;
    width: 40%;
    border:  1px solid #F4F4F4;
    position: absolute;
    left: 30%;
    background-color:#FFFFFF;
  }

}




footer{
  background-color: #C6DDE3 !important;
  padding: 30px 0;
  margin-top: 40px ;
  font-family: 'Roboto','Regular';
  font-size: 16px;
}

.section-footer {
   background-color: #C6DDE3 !important;
   display: flex;
   flex-direction: column;
   width: 90%;
   margin: auto;
}

.section-footer div {
  background-color: #C6DDE3;
}

.cont-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid #5D5D5D;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.section-footer div span {
  background-color: #C6DDE3;
}

.section-footer div img {
  background-color: #C6DDE3;
  width: 20px;
  height: 10px;
}

.lista-elements {
  display: flex;
  flex-direction: column;
}
.titulo-secciones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-footer ul {
  display: flex;
  flex-direction: column;
  background-color: #C6DDE3;
  margin: 20px 0;
}


.section-footer ul li {
  background-color: #C6DDE3;
  margin: 5px 0;
}


.cont-copyright {
  background-color: #C6DDE3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto','Regular';
  font-size: 14px;
}
.img-copyright {
  width: 40%;
	height: auto;
	box-shadow: none;
  margin: 20px auto;
}
.cont-copyright span {
  background-color: #C6DDE3;
}
.hidden-version-mobile{
  display: none !important;
}
.hidden-version-desktop {
  display: inline !important;
}



@media (min-width: 730px ) {

  footer{
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
  }
  .section-footer {
     background-color: #C6DDE3 !important;
     display: flex;
     flex-direction: row;
     width: 90%;
  }
  
  .section-footer div {
    background-color: #C6DDE3;
    width: 33%;
    
  }
  .cont-footer{
    display: flex;
    flex-direction: column;
    justify-content: unset;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .section-footer ul li  {
    background-color: #C6DDE3;
    margin: 5px 0;
  }
  
  .cont-copyright {
    background-color: #C6DDE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto','Regular';
    font-size: 14px;
  }
  .img-copyright {
    width: 40%;
    height: auto;
    box-shadow: none;
    margin: 20px auto;
  }
  .cont-copyright span {
    background-color: #C6DDE3;
  }
  .hidden-version-mobile{
    display: inline !important;
  }
  .hidden-version-desktop {
    display: none !important;

  }
  .contacto-nakima{
    margin: 20px 0;
    }

  .mail-nakima{
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .mail-nakima img{
    margin: 10px 5px;
    margin-left: 0px;
    height: 10px;
  }
}

#contenedor {
  position: relative;
  }
  .miniatura{
  z-index: 1001;
  text-decoration: none;
  }
  .miniatura img {
  border: 0px;
  }
  .miniatura span {
  position: absolute;
  text-decoration: none;
  visibility: hidden;
  border: 0px;
  top:0px;
  left:0px;
  }
  .miniatura:hover span {
  visibility: visible;
  overflow:visible;
  z-index: 1002;
  }


























/* 
.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #28dde0;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -50rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 30%;
  
}

.nav.expanded { left: 0; }

.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 0.4rem;
  width: 40%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
} */



